* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.navigation-bar {
    display: flex;
    align-items: center;
}

.navigation-bar ul {
    display: flex;
    gap: 20px;
}

.navigation-bar li {
    list-style-type: none;
    cursor: pointer;;
}

.navigation-bar li:hover {
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
}

.navigation-bar nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.login {
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: white;
}

.sign-up {
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
}

.sign-up:hover {
    background-color: rgb(100, 207, 207);
}

.heading {
    display: flex;
}

h1 {
    width: 216px;
    margin-bottom: 0px;
}

.description p {
    width: 314px;
    margin-top: 0px;
    color: hsl(0, 0%, 75%);
}

.description button {
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 16px;
}

.description button:hover {
    background-color: rgb(100, 207, 207);
}

.form {
    border: 1px solid black;
    padding: 10px;
    width: 50%;
}

.form input {
    width: 80%;
}

.wrapper {
    margin-left: 100px;
}

.box {
    border: none;
    padding: 16px;
    box-shadow: 2px 2px 2px 2px grey;
}

.boxes {
    display: flex;
    column-gap: 52px;
}

.advanced h2, p {
    text-align: center;
}

.box-two {
    position: relative;
    top: 20px;
}

.box-three {
    position: relative;
    top: 40px;
}

.advanced img {
    width: 36px;
    padding: 4px;
}

.images {
    border-radius: 50%;
    background-color: hsl(260, 8%, 14%);
    position: relative;
    bottom: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    margin-top: 0px;
}

.section h3 {
    color: white;
    text-align: center;
}

.section button {
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 16px;
}

.section {
    background-color: pink;
}

.footer {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.div h5 {
    text-align: center;
}

.footer li {
    list-style-type: none;
}

.social {
    display: flex;
    column-gap: 16px;
}